{% extends 'index.twig' %}
{% block contents %}

<div class="calculator">

    <h1>Exposure Value Calculator</h1>

    <form action="/" method="post">
        <label for="iso">Enter ISO: </label>
        <input type="text" id="iso" name="iso" placeholder="e.g. 200" value="{{ session.form_data[0] }}" />

        <label for="aperture">Enter Aperture: </label>
        <input type="text" id="aperture" name="aperture" placeholder="e.g. 5.6" value="{{ session.form_data[1] }}" />

        <label for="shutter">Enter Shutter Speed: </label>
        <input type="text" id="shutter" name="shutter" placeholder="e.g. 1/500" value="{{ session.form_data[2] }}" />

        <input type="submit" name="submit" value="Calculate" />
    </form>

    {% include 'Responses/results.twig' %}

    {% include 'Responses/errors.twig' %}

    <a class="navigation" href="/history">See History</a>

</div>

{% endblock %}