{% extends 'index.twig' %}
{% block contents %}

    <div class="history">

        <h1>History</h1>

        {% if exposures.getExposures %}

            {% for exposure in exposures.getExposures %}

                <div class="contents">
                    ID:<a class="records" href="/view/{{ exposure.id }}">{{ exposure.id }}</a><br/>
                </div>

            {% endfor %}

        {% else %}

            <div class="contents">
                No History Yet!
            </div>

        {% endif %}

    <a class="navigation" href="/">Back to Calculator</a>

    </div>

{% endblock %}