<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exposure Calculator</title>
    <link rel="stylesheet" href="app/Views/CSS/Style.css">
</head>
<body>

{% block contents %}{% endblock %}

</body>
</html>